<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Details</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);
    
function loadActivities ($scope, $http){
		$http({
       		 method : 'GET',
       		 /*
       		 url: (window.location.hostname === 'localhost' ?
     				'http://localhost:8080/activity' :
                    'https://activityexample.herokuapp.com/activity')
             */
             url: 'activity'
                    
    		}).then(function (response) {
     			 $scope.activities = response.data;
  		});
  	}
  	
app.controller('ActivityCtrl', function ($scope, $http, $dialog) {
  	
  	loadActivities($scope, $http);
  
		  
  	var addDialogOptions = {
    	controller: 'AddActivityCtrl',
    	templateUrl: './activityAdd.html'
  	};
  	
  	$scope.add = function(){
  		window.location.replace('/activityAdd.html');
    	//$dialog.dialog.(angular.extend(addDialogOptions, {})).open().then(function (){
    	//loadActivities($scope, $http);
       // }) ;
  	};
  	
  	var editDialogOptions = {
	    controller: 'EditActivityCtrl',
	    templateUrl: './activityEdit.html',
	};
  	$scope.edit = function(activity){
   	 	var activityToEdit = activity;
    	$dialog.dialog(angular.extend(editDialogOptions, {resolve: {activity: angular.copy(activityToEdit)}})).open().then(function (){
    	    loadActivities($scope, $http);
        }) ;
  	};
		
	$scope.delete = function(activity) {
		var deleteRequest = {
			method : 'DELETE',
			url: 'activity/' + activity.id
		};
		
  		$http(deleteRequest).then(function() {
			loadActivities($scope, $http);
		});
  		//todo handle error
	};
	
});
app.controller('AddActivityCtrl', function($scope, $http, $dialog){
  
	  	$scope.save = function($activity) {
  		var postRequest = {
    	method : 'POST',
       	url: '/activity' ,
       	data: {
  				text: $activity.text,
  				tags: $activity.tags,
  				title: $activity.title
			  }
		}  
		
  		$http(postRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
  			$scope.close();
  		});
  	};
  
  	$scope.close = function(){;
  		window.location.replace('./index.html');
    	//dialog.close(undefined);
  	};
});
app.controller('EditActivityCtrl', function ($scope, $http, activity, dialog) {
  
	$scope.activity = activity;
  	$scope.save = function($activity) {
  	    var putRequest = {
    	method : 'PUT',
       	url: 'activity/' + $scope.activity.id,
       	data: {
  				text: $scope.activity.text,
  				tags: $scope.activity.tags,
  				title: $scope.activity.title
			  }
		}  
		
  		$http(putRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
			//todo handle error
			$scope.close();
		});
  	};
  
  	$scope.close = function(){
  		loadActivities($scope, $http);
    	dialog.close();
  	};
});
</script>

</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu"><a href="./index.html">Home</a> <a href="./activityAdd.html">Add Activity</a><a href ="./detail.html">Show Post Details</a></div>
	</div>
	<div id="body" ng-controller="AddActivityCtrl">
		<h3>Add Activity</h3>
		
		<div class="item">
		<div class="key">Title:</div>
			<div class="value"><textarea ng-model="activity.title" rows="1" cols="60"></textarea></div>
		</div>
		<div class="item">
		<div class="key">Text:</div>
		<div class="value"><textarea ng-model="activity.text" rows="1" cols="60"></textarea></div>
		</div>
		<div class="item">
		<div class="key">Tags:</div>
		<div class="value"><textarea ng-model="activity.tags" rows="1" cols="60"></textarea></div>
		</div>

		<div class="buttons">
			<button ng-click="save(activity)">Save</button>
			<button ng-click="close()">Close</button>
		</div>
	</div>
</div>
</body>
</html>