<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Edit</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<script src="/angular/angular.min.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
// Read ID to know of which post the details should be shown.
url = new URL(window.location.href);
var postId = url.searchParams.get("id");
if (postId == null) {
	alert("The activity is not specified. Please contact the administrative!");
	window.location.replace('./index.html');
}

var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

// Get data for the activity from the Rest-API
function loadActivity ($scope, $http){
	$http({
		method : 'GET',
   		url : 'activity/' + postId
	}).then(function (response) {
		if (response.status != 200 || response.data.id == undefined) {
			alert("The activity you look for is not available!");
			window.location.replace('./index.html');
		}
		else {
			$scope.activity = response.data;
			window.activity = response.data;
		}
	});
}

function loadCategories ($scope, $http){
	$http({
   		 method : 'GET',
         url: 'category'

	}).then(function (response) {
		if (response.status != 200) {
			alert("Error while loading categories!");
		}
		else {
			$scope.categories = response.data;
		}
	});
}

// Controller for the details-page
app.controller('EditActivityCtrl', function ($scope, $http, $dialog) {
  	
	loadCategories($scope, $http);
	loadActivity($scope, $http);
	
	setTimeout(function(){
    	document.querySelector('#categorySelection [label="' + window.activity.category.name +'"]').selected = true;
	}, 300);
	
	  	
	$scope.edit = function($activity){
		var putRequest = {
	  		method : 'PUT',
	  		url: 'activity/' + $activity.id,
	  		data: {
	  			category: $activity.category,
	  		  	text: $activity.text,
	  		  	tags: $activity.tags,
	  		  	title: $activity.title
	  		}
	  	}  
	  				
	  	$http(putRequest).then(function (response) {
	  	 	if (response.status != 200) {
	  	 		alert("Error while saving the changed activity!");
	  	 	}
	  	}).then(function () {
	  		$scope.close();
	  	});
	};
	  	
	$scope.close = function(){
		window.location.href = './index.html';
	};
});
</script>


</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu">
		<a href="/index.html">Home</a>
		<a href="/activityAdd.html">Add Activity</a>
		 <a href= "/addCategory.html">Add Category</a>
	</div>
	<div id="body" ng-controller="EditActivityCtrl">
	<h3>Edit Activity</h3>
		<div class="item">
			<div class="key">Category:</div>
			<div class="value"><select id="categorySelection" ng-model="activity.category" ng-options="x.name for x in categories"></select></div>
		</div>
		<div class="item">
			<div class="key">Title:</div>
			<div class="value"><textarea ng-model="activity.title" rows="1" cols="60"></textarea></div>
		</div>
		<div class="item">
			<div class="key">Text:</div>
			<div class="value"><textarea ng-model="activity.text" rows="1" cols="60"></textarea></div>
		</div>
		<div class="item">
			<div class="key">Tags:</div>
			<div class="value"><textarea ng-model="activity.tags" rows="1" cols="60"></textarea></div>
		</div>
		<div class="buttons">
			<button ng-click="edit(activity)">Save</button>
			<button ng-click="close()">Close</button>
		</div>
	</div>
</div>
</body>
</html>