<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Details</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<script src="/angular/angular.min.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

function loadCategories ($scope, $http){
		$http({
       		 method : 'GET',
             url: 'category'
             
             

    		}).then(function (response) {
    			
    			$scope.categories = response.data;
  		});
  	}

app.controller('AddActivityCtrl', function($scope, $http, $dialog){

	loadCategories($scope, $http);
		
	$scope.save = function($activity) {
  		if ($activity.category == null) {
			alert("There is no category selected. Please select one.");
			return;
		}
  		
  		var postRequest = {
    	method : 'POST',
       	url: '/activity' ,
       	data: {
       			category: $activity.category,
  				text: $activity.text,
  				tags: $activity.tags,
  				title: $activity.title
			  }
		}
  		
  		

  		$http(postRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
  			$scope.close();
  		});
  	};

  	$scope.close = function(){;
  		window.location.href = './index.html';
    	//dialog.close(undefined);
  	};
});

</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu">
		<a href="./index.html">Home</a>
		<a href="./activityAdd.html">Add Activity</a> 
		<a href="./addCategory.html">Add Category</a>
	</div>
	<div id = "body" ng-controller="AddActivityCtrl">
		<h3>Add Activity</h3>
		<div class="item">
		<div class="key">Category:</div>
		<div class="value"><select ng-model="activity.category" ng-options="x.name for x in categories"></select></div>
		</div>
		<div class="item">
		<div class="key">Title:</div>
			<div class="value"><input ng-model="activity.title" rows="1" cols="60"></div>
		</div>
		<div class="item">
		<div class="key">Text:</div>
		<div class="value"><textarea class="large" ng-model="activity.text"></textarea></div>
		</div>
		<div class="item">
		<div class="key">Tags:</div>
		<div class="value"><textarea class="small" ng-model="activity.tags"></textarea></div>
		</div>

		<div class="buttons">
			<button ng-click="save(activity)">Save</button>
			<button ng-click="close()">Close</button>
		</div>
</div>
</div>
</body>
</html>
