<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Details</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<script src="/angular/angular.min.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

app.controller('AddCategoryCtrl', function($scope, $http, $dialog){

	  	$scope.save = function($category) {
  		var newCategory = {
    	method : 'POST',
       	url: '/category' ,
       	data: {
  				name: $category.name
			  }
		}

  		$http(newCategory).then(function (response) {
  		    /*$scope.activities = response.data;*/
  		}).then(function () {
  			$scope.close();
  		});
  	};

  	
  	$scope.close = function(){;
  		window.location.href = './index.html';
  	};
});

</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu">
    	<a href="./index.html">Home</a> 
    	<a href="./activityAdd.html">Add Activity</a> <a href= "./addCategory.html">Add Category</a>
	</div>
	<div id = "body" ng-controller="AddCategoryCtrl">
		<h3>Add Category</h3>
		<div class="item">
		<div class="key">Title:</div>
			<div class="value"><input ng-model="category.name" rows="1" cols="60"></div>
		</div>
		<div class="buttons">
			<button ng-click="save(category)">Save</button>
			<button ng-click="close()">Close</button>
		</div>
</div>
</div>
</body>
</html>
