<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Details</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>-->
<script src="/angular/angular.min.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
// Read ID to know of which post the details should be shown.
url = new URL(window.location.href);
var postId = url.searchParams.get("id");
if (postId == null) {
	alert("The activity is not specified. Please contact the administrative!");
	window.location.href = '/index.html';
}

var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

// Get data for the activity from the Rest-API
function loadActivity ($scope, $http){
	$http({
		method : 'GET',
   		url : 'activity/' + postId
	}).then(function (response) {
		if (response.status != 200 || response.data.id == undefined) {
			alert("The activity you look for is not available!");
			window.location.href = '/index.html';
		}
		else {
			$scope.activity = response.data;
		}
	});
}

// Controller for the details-page
app.controller('DetailActivityCtrl', function ($scope, $http, $dialog) {
  	
	loadActivity($scope, $http);
	
	// Opens the edit-page
	$scope.edit = function() {
		window.location.href = 'activityEdit.html?id=' + postId;
	}
	
	// Goes back to the homepage	
	$scope.close = function(){
	  		window.location.href = '/index.html';
	};
	
	$scope.deleteActivity = function(){
  		var deleteRequest = {
  		    	method : 'DELETE',
  		       	url: '/activity/' + postId,
  		      	data: {}
		}
  		$http(deleteRequest).then(function (response) {
	  	  	if (response.status != 200) {
	  			alert("Error while deleting activity!");
	  		}
	  		else {
	  			window.location.href = '/index.html';
	  		}
  		});
  	};
});
</script>


</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu">
		<a href="./index.html">Home</a>
		<a href="./activityAdd.html">Add Activity</a> <a href= "./addCategory.html">Add Category</a>
	</div>
	<div id="body" ng-controller="DetailActivityCtrl">
		<h3>{{activity.title}}</h3>
		<div class="item">
		<div class="key">University:</div>
		<div class="value">Platzhalter für Universität</div>
		</div>
		<div class="item">
			<div class="key">Kategorie:</div>
			<div class="value" >{{activity.category.name}}&nbsp;</div>
		</div>
		<div class="item">
			<div class="key">Text:</div>
			<div class="value">{{activity.text}}&nbsp;</div>
		</div>
		<div class="item">
			<div class="key">Tags:</div>
			<div class="value">{{activity.tags}}&nbsp;</div>
		</div>
		<div class="item">
			<div class="key">Creation Date:</div>
			<div class="value">{{activity.creationDate}}&nbsp;</div>
		</div>
		<div class="buttons">
			<button ng-click="deleteActivity()">Delete</button>
			<button ng-click="edit()">Edit</button>
			<button ng-click="close()">Close</button>
		</div>
	</div>
</div>
</body>
</html>