<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Details</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
url = new URL(window.location.href);
var postId = url.searchParams.get("id");
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

	function loadActivity ($scope, $http){
		$http({
       		 method : 'GET',
       		 url : 'activity/' + postId
    		}).then(function (response) {
     			 $scope.activity = response.data;
  		});
  	}



app.controller('DetailActivityCtrl', function ($scope, $http, $dialog) {
  	
	loadActivity($scope, $http);
});
</script>


</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu">
		<div ng-click="loadAdd()">Add Activity</div>
	</div>
	<div id="body" ng-controller="DetailActivityCtrl">
		<h3>{{activity.title}}</h3>
		<div class="item">
			<div class="key">Tags:</div>
			<div class="value">{{activity.tags}}</div>
		</div>
		<div class="item">
			<div class="key">Text:</div>
			<div class="value">{{activity.text}}</div>
		</div>
		<div class="buttons">
			<button ng-click="edit()">Edit</button>
			<button ng-click="delete()"Delete</button>
		</div>
	</div>
</div>
</body>
</html>