<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<meta charset="utf-8">
<title>Activity Details</title>
<link rel="stylesheet" type= "text/css" href="style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
url = new URL(window.location.href);
var postId = url.searchParams.get("id");
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

	function loadActivity ($scope, $http){
		$http({
       		 method : 'GET',
       		 url : 'activity/' + postId
    		}).then(function (response) {
     			 $scope.activity = response.data;
  		});
  	}

app.controller('editActivityCtrl', function ($scope, $http, $dialog) {
  	
	loadActivity($scope, $http);
});
</script>


</head>
<body>
<div id="content">
	<div id="head">
		<img src="images/HM_Logo.jpeg" />
		<h1>EduLife</h1>
		<img src="images/Cal-Poly_Logo.jpeg" />
	</div>
	<div id="menu">
		<div ng-click="loadAdd()">Add Activity</div>
	</div>
	<div id="body" ng-controller="EditActivityCtrl">
		<div class="item">
			<div class="key">Title:</div>
			<input ng-model="activity.title" size="40" ng-init="rootFolders='{{activity.title}}'" />
		</div>
		<div class="item">
			<div class="key">Tags:</div>
			<input ng-model="activity.tags" size="40" ng-init={{activity.title}} />
		</div>
		<div class="item">
			<div class="key">Text:</div>
			<input ng-model="activity.text" size="40" value={{activity.title}} />
		</div>
		
	<div class="buttons">
			<button ng-click="edit()">Edit</button>
			<button ng-click="delete()"Delete</button>
		</div>
</div>
</body>
</html>