<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<title>ActivityMeterApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>-->
<script src="/angular/angular.min.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.1.0.js"></script>

<link
	href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="table.css" />

<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<script>
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

function loadCategories ($scope, $http){
		$http({
       		 method : 'GET',
             url: 'category'



    		}).then(function (response) {

    			$scope.categories = response.data;
  		});
  	}

function loadActivities ($scope, $http){
		$http({
       		 method : 'GET',
       		 /*
       		 url: (window.location.hostname === 'localhost' ?
     				'http://localhost:8080/activity' :
                    'https://activityexample.herokuapp.com/activity')
             */
             url: 'activity'

    		}).then(function (response) {
     			 $scope.activities = response.data;
  		});
  	}

app.controller('ActivityCtrl', function ($scope, $http, $dialog) {
	  loadCategories($scope, $http);
  	loadActivities($scope, $http);


  	var addDialogOptions = {
    	controller: 'AddActivityCtrl',
    	templateUrl: './activityAdd.html'
  	};

  	$scope.add = function(){
  		window.location.href ='./activityAdd.html';
    	//$dialog.dialog.(angular.extend(addDialogOptions, {})).open().then(function (){
    	   // loadActivities($scope, $http);
       // }) ;
  	};


  	var editDialogOptions = {
	    controller: 'EditActivityCtrl',
	    //templateUrl: './activityEdit.html',
	};
  	$scope.edit = function(activity){
  		window.location.replace('./activityEdit.html?id=' + activity.id);
  		window.location.href = './activityEdit.html?id=' + activity.id;
  	};

	$scope.detail = function(activity){
		var id = activity.id;
		window.location.href = './detail.html?id='+id;
	};

/*
		$scope.detail = function(activity){
			window.location.replace('./detail.html?id=1', 'Details anzeigen');
		};
*/


	/*$scope.details = function($activity) {
		$http({
      		 method : 'GET',
            url: 'activity'

   		}).then(function (response) {
    			 $scope.activities = response.data;
 		});*/
});





app.controller('AddActivityCtrl', function($scope, $http, dialog){

  	$scope.save = function(Activity) {
  		var postRequest = {
    	method : 'POST',
       	url: 'activity' ,
       	data: {
  				text: $scope.activity.text,
  				tags: $scope.activity.tags,
  				title: $scope.activity.title
			  }
		}

  		$http(postRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
  			$scope.close();
  		});
  	};

  	$scope.close = function(){;
    	dialog.close(undefined);
  	};
});
app.controller('EditActivityCtrl', function ($scope, $http, activity, dialog) {

	loadCategories($scope, $http);

	$scope.activity = activity;
  	$scope.save = function($activity) {
  	    var putRequest = {
    	method : 'PUT',
       	url: 'activity/' + $scope.activity.id,
       	data: {
  				text: $scope.activity.text,
  				tags: $scope.activity.tags,
  				title: $scope.activity.title
			  }
		}

  		$http(putRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
			//todo handle error
			$scope.close();
		});
  	};

  	$scope.close = function(){
  		loadActivities($scope, $http);
    	dialog.close();
  	};
});
</script>
</head>
<body>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>-->
	<div id = "content">
	<div id ="head">
	<img src = "images/HM_Logo.jpeg" />
	<h1>EduLife</h1>
	<img src = "images/Cal-Poly_Logo.jpeg" />
	</div>

	<div id = "menu">
		<a href = "./index.html">Home</a> <a href="./activityAdd.html">Add Activity</a> <a href= "./addCategory.html">Add Category</a>
	</div>

	<div id = "body" ng-controller="ActivityCtrl">
		<h3>Activities:</h3>

		<table class="mdl-data-table">
			<tr>
				<td class="mdl-data-table__cell--non-numeric" colspan=0><input type="text" ng-model = "f.title" placeholder="Search for title.."></td>
				<td class="mdl-data-table__cell--non-numeric" colspan=1><input type="text" ng-model = "f.tags" placeholder="Search for tags.."></td>
				<td class="mdl-data-table__cell--non-numeric" colspan=1><input type="text" ng-model = "f.creationDate" placeholder="Search for dates.."></td>
				<td class="value" colspan=1><input type="text" ng-model = "f.category.name" placeholder="Search for categories.."></td>
				<td class="mdl-data-table__cell--non-numeric" colspan=1><button class="mdl-button" ng-click="add()">add Activity</button></td>

				<td>&nbsp</td>
			</tr>


			<tr ng-repeat="activity in activities | filter: f">
				<td class="mdl-data-table__cell--non-numeric">{{activity.title}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{activity.text}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{activity.tags}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{activity.category.name}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{activity.creationDate}}</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button	class="mdl-button" ng-click="edit(activity)">Edit</button>
					<button class="mdl-button" ng-click="detail(activity)">Details</button></td>

			</tr>
		</table>
	</div>
</div>
</body>
</html>
